<% my_task = my_task?(@task, current_user)%>
<div hidden>
asdfasdf
</div>
<div class="row">
  <div class="col-xs-3">
    <div class="col-xs-offset-1">
      <h1><%= @task.title %></h1>
      creator: 
      <%= @task.user.email %>
    </div>
  </div>
  <div class="col-xs-6">
    <div id="star"></div>
    <div id="user_star"></div>
    <%= render "script"%>
    <div>
      <% @task.tags.each do |x| %>
        <%= x %><br>
      <% end %>
    </div>
    <%= markdown(@task.description) %>
    <% @task.comments.each do |comment|%>
      <div class="well">
        <%= comment.message %>
        <button class="close">&times;</button>
        <%= link_to 'Delete', comment_path(comment), method: :delete, class: "hidden" %> 
      </div>  
    <% end %>
    <br>
    <div>
      <%= render "comments/new" %>
    </div>
  </div>  
  <div class="col-xs-3">
    <div "row">
      <div class="col-xs-9">
        <% if my_task %>
          | <%= link_to 'Delete', task_path(@task), method: :delete %> 
          | <%= link_to 'Edit', edit_task_path(@task), data: { no_turbolink: true } %>
          <div id = "answers">
            <%= render "answers/index"%>
            <%= render "answers/add_button"%>
          </div>
        <% else %>
          <%= link_to "Answer", new_answer_attempt_path, remote: true, class: "AnswerAttempt" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
