<h1>Tasks#show</h1>
<p>Find me in app/views/tasks/show.html.erb</p>
<% my_task = my_task?(@task, current_user)%>
<div> 
  <span class="TaskTitle">
    <%= @task.title %>
  </span> 
  <% if my_task %>
    | <%= link_to 'Edit', edit_task_path(@task), data: { no_turbolink: true } %>
    | <%= link_to 'Delete', task_path(@task), method: :delete %> 
  <% end %>
</div> 
<div>
  <% @task.tags.each do |x| %>
    <%= x %><br>
  <% end %>
</div>
<div>
  creator : <%= @task.user.email %>
</div>
<div>
  description : 
  <%= markdown(@task.description) %>
</div>

<% if my_task %>
  <div id = "answers">
    <%= render "answers/index"%>
    <%= render "answers/add_button"%>
  </div>
<% else %>
  <%= link_to "Answer", new_answer_attempt_path, remote: true, class: "AnswerAttempt" %>
<% end %>
<br>
<% @task.comments.each do |comment|%>
  <div>
    <%= comment.message %> |
    <%= link_to 'Delete', comment_path(comment), method: :delete %> 
  </div>  
<% end %>
<br>
<div>
  <%= render "comments/new" %>
</div>