<div class="row">
  <div class="col-xs-2">
    <div class="col-xs-offset-1">
      <h3> <%= editable @user, :name %></h3>
      Rate: <%= @user.rate %> <br>
      <% if current_user.id == @user.id %>
        <%= link_to 'Create task', new_task_path, data: { no_turbolink: true } %>
      <% end %>
    </div>
  </div>
  <div class="col-xs-5">
    <% @achievements = @user.get_achievements %>
    <%= render "user_achievements"%>
  </div>
  <div class="col-xs-5">
    <h2>Own Tasks:</h2>
    <% @tasks = @user.tasks %>
    <%= render "tasks/index" %>
  </div>
</div>