<!DOCTYPE html>
<html>
<head>
  <title>Hope</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class = "center">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if user_signed_in? %>
  Welcome <%= current_user.email %>!
  <%= link_to 'Out', destroy_user_session_path, :method => :delete %>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"> <%= link_to "Main", root_path %> </li>
    <li role="presentation"> <%= link_to "Home", user_path(current_user) %> </li>
    <li role="presentation"><%= link_to "Tasks", tasks_path %></li>
    <li role="presentation"><%= link_to "Attempts", answer_attempts_path %></li>
  </ul>
<% else %>
  <%= link_to 'Sign in', new_user_session_path %> or <%= link_to 'Sing up', new_user_registration_path %>
  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
  <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
  <%= link_to "Sign in with Vk", user_omniauth_authorize_path(:vkontakte) %>
<% end %>

<%= yield %>

</body>
</html>
